{% extends "base.html" %}
{% block title %}
{{ username }}'s Leave
{% endblock %}
{% block nav %}
<nav>
  <form method="POST" action="/logout/">
    <input type='submit' id="logout" value="Log Out">
    {% csrf_token %}
  </form>
</nav>
{% endblock %}

{% block main_content %}
    <h1>
      {{ username }}'s Leave
    </h1>
    <p>
    {{ username }}, you have <span id="leave_remaining">{{ leave_remaining }}
    </span> days of leave left in the working period {{ period_start }} to
    {{ period_end }}.
    </p>

{% endblock %}
