{% extends "base.html" %}
{% block title %}
      MyLeave - Log In
{% endblock %}
{% block message %}
  {% if error_message %}
      <section id="error">
        <h2>
          Error
        </h2>
        <p>
          {{ error_message }}
        </p>
      </section>
  {% endif %}
{% endblock %}
{% block main_content %}
      <form id="login_form" method='POST'>
        {% csrf_token %}
        <fieldset>
          <legend>
            Log In
          </legend>
          <label class="username">User Name:
            <input class="username" name="username" placeholder="Eg: BillyBob143"/>
          </label>
          <label class="password">Password:
            <input type="password" class="password" name="password" />
          </label>
          <input type="submit" />
        </fieldset>
      </form>
{% endblock %}
